@import url(./normalize.css);
@import url(./fonts.css);

/*В базовый файл*/
*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}
a {
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'ubuntu';
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    position: relative;
}
.container{
    position: relative;
    text-align: center;
}

/*ЗАмиксовать цвета: черный, рыжий, белый, красный для кнопок*/

/*Замиксовать*/
.alignment{
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}


/*Удалить*/
.clearfix:after{
    content: "";
    display: table;
    clear: both
}
/*В базовый. Будет сверстано позже. 
Ездит по всему лендингу*/
.sidebar{
    display: none;
}

/*Замиксовать*/
.hello{
    min-height: 650px;
    height: 100vh;
    background-image: url(../../img/background_sec1.png);
    background-size: cover;
    padding-top: 13px;
}

/*В файл по первой секции*/
.hello__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.logo-svg{
    width: 90px;
}
.navigation__item{
    display: inline-block;    
    position: relative;
    margin-left: 32px;
}
.navigation__order-link{
    margin-left: 16px;
}

.navigation__item:not(:first-child):not(:last-child)::before{
    content: "";
    width: 3px; 
    height: 3px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -18px;
    top: 9px;
}

.navigation__link{
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1;
}
.hello__main{
    padding-bottom: 15%
}

/*Замиксовать. В нескольких секциях эта кнопка есть*/
.order-link{
    text-align: center;
    display: block;
    box-sizing: border-box;
    background: #e45028;
    padding: 13px 16px;
    border-radius: 2px;
}


/*Замиксовать*/
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;  
}

/*Замиксовать*/
.column{
    width: 50%;
    position: relative;
}

/*В файл по первой секции*/
.main__right{
    text-align: left;
}
.drops-sec1{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-53%)
}

/*Замиксовать или в базовый? 
По всему макеты одинаковые заголовки с разным цветом*/
.title{
    font-family: 'gagalinregular';
    color: #f9b43b;
    font-size: 72px;
    font-weight: 400;
    margin: 0;
}

/*В файл по первой секции*/
.hello__title{
    margin: 30px 0;
    line-height: 1;
}
.natural-burgers{
    font-family: 'lifehackmedium';
    color: white;
    font-size: 65px;
    font-weight: 400;
    margin: 0;
    line-height: .9;
}
.scroll{
    margin-bottom: 15px;
}


/*В файл по второй секции*/


/*Применить микс от .hello, изменить фон убрать паддинг*/
.about{
    min-height: 650px;
    height: 100vh;
    background-image: url(../../img/bg_sec2.png);
    background-size: cover;
    padding-top: 0;
}

/*Применить микс от .title, изменить цвет микс черный*/
.about__title{
    color: #2f3234;
    margin-bottom: 55px;
}

.about__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}


/*Применить микс от .alignment, изменить justify-content*/
.about__alignment{
    justify-content: center;
}

.about__item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about__feature{
    font-family: 'lifehackmedium';
    font-size: 24px;
    margin: 35px 0 25px 0;
}
.about__text{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    width: 300px;
}


/*В файл по секции отзывы*/

.comments{
    min-height: 650px;
    height: 100vh;
}

.comments__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.comments__item{
    width: 25%;
    height: 50%;
    background-image: url(../../img/comments_ava1.png);
    background-size: cover;
}
.comments__content{
    background-color: rgba($color: #454545, $alpha: .7);
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.comments__name{
    font-family: 'gagalinregular';
    font-size: 14px;
    color: white;
    margin-bottom: 30px;
}
.comments__text{
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 1.7;
    text-align: left;
    margin-bottom: 17px;
}

.btn-gray{
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px;
    background: #2f3234;
    border-radius: 3px;
}